server:
  port: 8084

spring:
  application:
    name: notification-service
  
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: OrderCreatedEvent:com.eventdriven.notification.event.OrderCreatedEvent,PaymentSucceededEvent:com.eventdriven.notification.event.PaymentSucceededEvent,PaymentFailedEvent:com.eventdriven.notification.event.PaymentFailedEvent,InventoryReservedEvent:com.eventdriven.notification.event.InventoryReservedEvent,InventoryUnavailableEvent:com.eventdriven.notification.event.InventoryUnavailableEvent
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: your-email@gmail.com
    password: your-app-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
